altgraph==0.17
appdirs==1.4.4
argh==0.26.2
asgiref==3.3.4
atomicwrites==1.4.0
backports.entry-points-selectable==1.1.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
boto==2.49.0
boto3==1.21.27
botocore==1.24.27
bottle==0.12.19
bottle-websocket==0.2.9
brotlipy==0.7.0
certifi==2020.12.5
click==8.0.3
cryptography==37.0.2
Collectfast==2.2.0
coreschema==0.0.4
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.4
django-cors-headers==3.4.0
django-filter==2.3.0
django-rest-framework==0.1.0
django-storages==1.12.3
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.1.0
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
fonttools==4.25.0
gevent==21.1.2
gevent-websocket==0.10.1
gmpy2==2.0.8
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
imutils==0.5.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
jmespath==1.0.0
llvmlite==0.37.0
locket==0.2.1
macholib==1.16
MarkupSafe==2.0.1
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
numpy==1.21.2
opencv-python==4.5.5.62
pandas==1.3.4
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.5.1
ply==3.11
pycosat==0.6.3
pycryptodome==3.14.1
pycurl==7.44.1
pyinstaller-hooks-contrib==2022.3
PyJWT==1.7.1
pyls-spyder==0.4.0
PyMySQL==1.0.2
pyodbc===4.0.0-unsupported
pyparsing==3.0.7
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.1
PyYAML==6.0
requests==2.25.1
ruamel.yaml.clib==0.2.6
s3transfer==0.5.2
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.100439
scipy==1.8.0
simplegeneric==0.8.1
sip==4.19.13
Sphinx==4.2.0
sqlparse==0.4.1
TBB==0.2
terminado==0.9.4
threadpoolctl==3.1.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.4
virtualenv==20.13.3
virtualenv-clone==0.5.7
webencodings==0.5.1
whitenoise==6.0.0
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
zope.interface==5.3.0
